*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #ffd145;

}
header {
    border:solid 1px;
    display: flex;}


.campos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 85px;
    
}
h1.Titulo {
    display: flex;
    color:rgb(0, 0, 0);
    font-size: 45px;
    
}


h3 {
    
    margin-left: 55px;
    font-size: 25px;
}






.EntreContinuar {
    display: flex;

    
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




 .botao{

    width: 160px;    ;
    cursor: pointer;
    border-radius: 1px;
    scale: 115%;
    color: white;
    background-color: black;
    margin-top: 5vw;
    scale: 159%;
}

.EntrarLogin{
    
    margin-top: 60px;
    scale: 127%;
    align-items: center;
    flex-direction: column;
    display: flex;
}


.SenhaLogin {
    margin-top: 2vw;
    scale: 127%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.ConfirmarSenha{

    scale: 127%;
    margin-top: 2vw;
    align-items: center;
    flex-direction: column;
    display: flex;
    }

div.imagem{
    position: absolute;
    top: 34%;
    right: 2%;
}

.EsqueceuSenha a {

    color: black;
    margin-top: 5vw;
    display: flex;
    font-size: 20px;

}

footer {  
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: black
}