@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open sans', sans-serif;  
    --cor-gradiente: #ffffff;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


.header {
    width: 100%;
    display: flex;
}

.header .container {
    z-index: 10;
    background-color: rgb(29, 29, 29);
    width: 100%;
    margin: auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 80px;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.295);
}

.header .container .logo img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.cadastro-area {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    justify-content: center;
}


.header .container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 30px;
    align-items: center;
}

.header .container ul li {
    text-align: center;
}

.header ul li a {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

.header ul li a:hover {
    /* font-size: 18px; */
    color: rgba(255, 255, 255, 0.733);
}

.header h1 {
    color: #ecd158;
}

.btn-cadastro span {
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}

.login span {
    background-color: #000000;
    color: white;
}

.cadastro span {
    background-color: #ecd158;
    color: black;
}

/* FIM DA HEADER  */

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.banner {
    background-image: url(assets/imgs/OIG.jpg);
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 470px;
}

.banner .container p {
    font-size: 32px;
    color: white;
    /* width: 280px; */
    /* box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.11); */
}

.gradiente-banner-sobre {
    height: 10px;
    background: linear-gradient(#1d1d1d 10%, var(--cor-gradiente) 90%);

}

.gradiente-sobre-planos {
    height: 10px;
    background: linear-gradient(var(--cor-gradiente) 10%, #1d1d1d 90%);
}

.social {
    background-color: #1d1d1d;
    display: flex;
}




.social .container {
    justify-content: space-evenly;
}

.box img {
    width: 580px;
    height: 480px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.295);
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
}

.box {
    /* width: 800px;
    height: 700px; */
    height: 650px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    /* background-color: rgba(255, 255, 255, 0.178); */
    width: 440px;
    color: rgb(161, 124, 0);
}

.box p {
    /* text-align: center; */
    color: white;
    font-size: 25px;
}

.btn-botao {
    background-color: #ffcc00; /* Amarelo */
    color: #000; /* Preto */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
  }
  
  .link-sem-sublinhado {
    text-decoration: none; /* Remove o sublinhado */
    color: #000;
  }

.sobre {
    /* background-color: rgb(202, 202, 202); */
    /* background-image: linear-gradient(to right, rgb(27, 26, 26), rgb(236, 209, 88), rgb(73, 67, 33)); */
    /* background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(254, 255, 232) 90%); */
    background-color: var(--cor-gradiente);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 1000px; */
    justify-content: center;
    padding: 60px;
}



.contato {
    width: 90%;
    margin: 5% auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contato h2 {
    text-align: center;
}


.formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.input-form {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}


textarea#mensagem {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}


.button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #f1d65d;
}


footer .container {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    flex-direction: column;
}

footer ul {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
    width: 60%;
}

footer img {
    width: 40px;
    height: 40px;
}

.icone-rede-social {
    width: 15%;
}

.footer h4 {
    color: white;
}

.footer.container .version {
    font-size: 12px;
    font-weight: 800;
}